<div class="m-0 row justify-content-center">
  <form
    class="example-form"
    [formGroup]="form"
    (ngSubmit)="do()"
    class="text-center"
  >
    <mat-form-field class="example-full-width" appearance="fill">
      <h3>INICIO DE SESSION:</h3>
      <input
        type="text"
        matInput
        placeholder="user o email"
        name="email"
        formControlName="email"
      />
      <input
        type="password"
        class="w-100"
        matInputF
        placeholder="Password"
        name="password"
        formControlName="password"
      />

      <mat-error *ngIf="form.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">
        Login
      </button>
    </mat-form-field>
  </form>
</div>
